In [1]:
from pyflink.table import *
from pyflink.table.expressions import col

# environment configuration
t_env = TableEnvironment.create(
        environment_settings=EnvironmentSettings.new_instance().in_batch_mode().build())

 
#t_env.get_config().get_configuration().set_string("pipeline.jars", "file:///opt/flink-1.5.0/flink-json-1.15.0.jar;")

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/opt/flink-1.15.0/lib/log4j-slf4j-impl-2.17.1.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/opt/hadoop-2.7.7/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [2]:

# register Orders table and Result table sink in table environment

t_env.execute_sql("""
        create table `Customers`(
            CustID BIGINT,
            CustomerName VARCHAR,
            Country VARCHAR
            ) with (
            'connector' = 'filesystem',
            'format' = 'json',
            'path' = 'file:///home/krish/flink/data/customers.json'
        )""")

In [3]:

customers = t_env.from_path("Customers")

print('\result Trxs Schema')
customers.print_schema()

print ("converted add column ")
print (customers.to_pandas())

t_env.execute_sql("select * from Customers").print()

esult Trxs Schema
(
  `CustID` BIGINT,
  `CustomerName` STRING,
  `Country` STRING
)
converted add column
    CustID CustomerName        Country
0        1         ADAM        Germany
1        2        BRUCE         Mexico
2        3       WATSON         Mexico
3        4        SMITH  united states
4        5      JOHNSON         africa
5        6     WILLIAMS         Canada
6        7        JONES          india
7        8        BROWN         Mexico
8        9        DAVIS          india
9       10       MILLER  united states
10      11       WILSON          india
11      12        MOORE         france
12      13       TAYLOR        germany
13      14     ANDERSON          japan
+----------------------+--------------------------------+--------------------------------+
|               CustID |                   CustomerName |                        Country |
+----------------------+--------------------------------+--------------------------------+
|                    1 |                           ADAM |                        Germany |
|                    2 |                          BRUCE |                         Mexico |
|                    3 |                         WATSON |                         Mexico |
|                    4 |                          SMITH |                  united states |
|                    5 |                        JOHNSON |                         africa |
|                    6 |                       WILLIAMS |                         Canada |
|                    7 |                          JONES |                          india |
|                    8 |                          BROWN |                         Mexico |
|                    9 |                          DAVIS |                          india |
|                   10 |                         MILLER |                  united states |
|                   11 |                         WILSON |                          india |
|                   12 |                          MOORE |                         france |
|                   13 |                         TAYLOR |                        germany |
|                   14 |                       ANDERSON |                          japan |
+----------------------+--------------------------------+--------------------------------+
14 rows in set

In [4]:

sink_ddl_parquet=f"""
    create table `OutSink`(
       CustID BIGINT,
        CustomerName VARCHAR,
        Country VARCHAR        
    ) with (
        'connector' = 'print'
    )
    """

t_env.execute_sql(sink_ddl_parquet)


customers.execute_insert("OutSink").wait()

1> +I[1, ADAM, Germany]
1> +I[2, BRUCE, Mexico]
1> +I[3, WATSON, Mexico]
1> +I[4, SMITH, united states]
1> +I[5, JOHNSON, africa]
1> +I[6, WILLIAMS, Canada]
1> +I[7, JONES, india]
1> +I[8, BROWN, Mexico]
1> +I[9, DAVIS, india]
1> +I[10, MILLER, united states]
1> +I[11, WILSON, india]
1> +I[12, MOORE, france]
1> +I[13, TAYLOR, germany]
1> +I[14, ANDERSON, japan]