In [2]:
from pyflink.table import EnvironmentSettings, TableEnvironment
# Shift + Enter to run the cell

In [3]:
# create environment for batch mode 
env = EnvironmentSettings.in_batch_mode()

#   create table environment
table_env = TableEnvironment.create(env)

In [4]:
# hardcoded data
# [] - python type list, mutable - change
# () = type  tuple, immutable - cannot change
data = [ ("Joe", 28), ("Mary", 34), ("Venkat", 40) ] # 3 records
columns = ["name", "age"]
# create virtual table or view
employee_table = table_env.from_elements(data, columns)

In [5]:
# flink always works with structured data means data + meta data 
# meta data = schema , columns, data types etc

# flink too infer schema
# print schema
employee_table.print_schema()

(
  `name` STRING,
  `age` BIGINT
)

In [7]:
# pandas inbuilt, convert table data into pandas dataframe
employee_table.to_pandas()

     name  age
0     Joe   28
1    Mary   34
2  Venkat   40