In [1]:
from pyflink.table import EnvironmentSettings, TableEnvironment, DataTypes, CsvTableSource
import datetime
from pyflink.table.expressions import col
from pyflink.table.window import Over, GroupWindow
from pyflink.table.expressions import col, UNBOUNDED_RANGE, CURRENT_RANGE
from pyflink.table.udf import udf
# create a batch TableEnvironment
env_settings = EnvironmentSettings.in_batch_mode()
table_env = TableEnvironment.create(env_settings)

In [2]:
# InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
# 536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850,United Kingdom
column_names = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 
                'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

column_types = [DataTypes.STRING(), DataTypes.STRING(), DataTypes.STRING(), DataTypes.DOUBLE(), 
                DataTypes.TIMESTAMP(3), DataTypes.DOUBLE(),DataTypes.STRING(), DataTypes.STRING()]

source = CsvTableSource(
   '../data/ecommerce-clean.csv',  
    column_names,
    column_types,
    ignore_first_line=False,
    quote_character='"',
    lenient=True
)

# source is data source -origin data is from
# table is flink api
# sink is target where data goes to after transformation
table_env.register_table_source('invoices', source)

# invoices is a table
invoices = table_env.from_path('invoices')


##############################
print('\nRegistered Tables List')
print(table_env.list_tables())

print('\nFinancial Trxs Schema')
invoices.print_schema()

invoices.fetch(3).execute().print()

Registered Tables List
['invoices']

Financial Trxs Schema
(
  `InvoiceNo` STRING,
  `StockCode` STRING,
  `Description` STRING,
  `Quantity` DOUBLE,
  `InvoiceDate` TIMESTAMP(3),
  `UnitPrice` DOUBLE,
  `CustomerID` STRING,
  `Country` STRING
)
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-------------------------+--------------------------------+--------------------------------+--------------------------------+
|                      InvoiceNo |                      StockCode |                    Description |                       Quantity |             InvoiceDate |                      UnitPrice |                     CustomerID |                        Country |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-------------------------+--------------------------------+--------------------------------+--------------------------------+
|                         536365 |                         85123A | WHITE HANGING HEART T-LIGHT... |                            6.0 | 2010-12-01 08:26:00.000 |                           2.55 |                          17850 |                 United Kingdom |
|                         536365 |                          71053 |            WHITE METAL LANTERN |                            6.0 | 2010-12-01 08:26:00.000 |                           3.39 |                          17850 |                 United Kingdom |
|                         536365 |                         84406B | CREAM CUPID HEARTS COAT HANGER |                            8.0 | 2010-12-01 08:26:00.000 |                           2.75 |                          17850 |                 United Kingdom |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-------------------------+--------------------------------+--------------------------------+--------------------------------+
3 rows in set

In [17]:
# what is 1 hour transactions 
# how many transactions per hour
# Tumble window - non overlapping, fixed size window
# data is processed only once in a window
from pyflink.table.expressions import col, lit
from pyflink.table.window import Tumble
# lit - literal, useful constant data
result = invoices\
                 .select(col("InvoiceDate"), col("InvoiceNo"), col("Quantity"))\
                 .window(Tumble.over(lit(1).hour).on(col("InvoiceDate")).alias("hourly_window")) \
                 .group_by(col('hourly_window'), col('InvoiceNo')) \
                   .select(col('InvoiceNo'), col('hourly_window').end.alias('hour'), col("Quantity").sum.alias('Qty'))
 
                         
result.print_schema()
result.fetch(30).execute().print()

(
  `InvoiceNo` STRING,
  `hour` TIMESTAMP(3),
  `Qty` DOUBLE
)
+--------------------------------+-------------------------+--------------------------------+
|                      InvoiceNo |                    hour |                            Qty |
+--------------------------------+-------------------------+--------------------------------+
|                         547910 | 2011-03-28 13:00:00.000 |                          402.0 |
|                         547919 | 2011-03-28 13:00:00.000 |                           96.0 |
|                         547926 | 2011-03-28 14:00:00.000 |                          268.0 |
|                         547928 | 2011-03-28 15:00:00.000 |                            1.0 |
|                         547931 | 2011-03-28 15:00:00.000 |                            1.0 |
|                         547933 | 2011-03-28 15:00:00.000 |                            1.0 |
|                         547934 | 2011-03-28 15:00:00.000 |                          157.0 |
|                         547936 | 2011-03-28 15:00:00.000 |                           23.0 |
|                         547938 | 2011-03-28 15:00:00.000 |                          244.0 |
|                         547939 | 2011-03-28 15:00:00.000 |                           10.0 |
|                         547940 | 2011-03-28 15:00:00.000 |                          187.0 |
|                         547941 | 2011-03-28 15:00:00.000 |                          151.0 |
|                         547960 | 2011-03-28 16:00:00.000 |                           95.0 |
|                         547964 | 2011-03-28 16:00:00.000 |                          368.0 |
|                         547965 | 2011-03-28 16:00:00.000 |                           58.0 |
|                         547989 | 2011-03-29 10:00:00.000 |                         -100.0 |
|                        C547992 | 2011-03-29 10:00:00.000 |                           -4.0 |
|                         548012 | 2011-03-29 12:00:00.000 |                          118.0 |
|                        C548015 | 2011-03-29 12:00:00.000 |                          -30.0 |
|                         548016 | 2011-03-29 12:00:00.000 |                           36.0 |
|                         548095 | 2011-03-29 13:00:00.000 |                           -3.0 |
|                         548098 | 2011-03-29 13:00:00.000 |                          -15.0 |
|                         548104 | 2011-03-29 13:00:00.000 |                           -3.0 |
|                         548152 | 2011-03-29 14:00:00.000 |                          182.0 |
|                         548153 | 2011-03-29 14:00:00.000 |                          368.0 |
|                         548154 | 2011-03-29 14:00:00.000 |                          173.0 |
|                         548157 | 2011-03-29 14:00:00.000 |                          920.0 |
|                         548158 | 2011-03-29 14:00:00.000 |                           92.0 |
|                         548159 | 2011-03-29 14:00:00.000 |                           16.0 |
|                         548173 | 2011-03-29 15:00:00.000 |                           -3.0 |
+--------------------------------+-------------------------+--------------------------------+
30 rows in set