In [1]:
from pyflink.table import EnvironmentSettings, TableEnvironment, DataTypes, CsvTableSource
import datetime
from pyflink.table.expressions import col
from pyflink.table.window import Over, GroupWindow
from pyflink.table.expressions import col, UNBOUNDED_RANGE, CURRENT_RANGE
from pyflink.table.udf import udf
# create a batch TableEnvironment
env_settings = EnvironmentSettings.in_batch_mode()
table_env = TableEnvironment.create(env_settings)

In [2]:
# InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
# 536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850,United Kingdom
column_names = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 
                'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

column_types = [DataTypes.STRING(), DataTypes.STRING(), DataTypes.STRING(), DataTypes.DOUBLE(), 
                DataTypes.TIMESTAMP(3), DataTypes.DOUBLE(),DataTypes.STRING(), DataTypes.STRING()]

source = CsvTableSource(
   '../data/ecommerce-clean.csv',  
    column_names,
    column_types,
    ignore_first_line=False,
    quote_character='"',
    lenient=True
)

# source is data source -origin data is from
# table is flink api
# sink is target where data goes to after transformation
table_env.register_table_source('invoices', source)

# invoices is a table
invoices = table_env.from_path('invoices')


##############################
print('\nRegistered Tables List')
print(table_env.list_tables())

print('\nFinancial Trxs Schema')
invoices.print_schema()

invoices.fetch(3).execute().print()

Registered Tables List
['invoices']

Financial Trxs Schema
(
  `InvoiceNo` STRING,
  `StockCode` STRING,
  `Description` STRING,
  `Quantity` DOUBLE,
  `InvoiceDate` TIMESTAMP(3),
  `UnitPrice` DOUBLE,
  `CustomerID` STRING,
  `Country` STRING
)
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-------------------------+--------------------------------+--------------------------------+--------------------------------+
|                      InvoiceNo |                      StockCode |                    Description |                       Quantity |             InvoiceDate |                      UnitPrice |                     CustomerID |                        Country |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-------------------------+--------------------------------+--------------------------------+--------------------------------+
|                         536365 |                         85123A | WHITE HANGING HEART T-LIGHT... |                            6.0 | 2010-12-01 08:26:00.000 |                           2.55 |                          17850 |                 United Kingdom |
|                         536365 |                          71053 |            WHITE METAL LANTERN |                            6.0 | 2010-12-01 08:26:00.000 |                           3.39 |                          17850 |                 United Kingdom |
|                         536365 |                         84406B | CREAM CUPID HEARTS COAT HANGER |                            8.0 | 2010-12-01 08:26:00.000 |                           2.75 |                          17850 |                 United Kingdom |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-------------------------+--------------------------------+--------------------------------+--------------------------------+
3 rows in set

In [17]:
# what is 1 hour transactions 
# how many transactions per hour
# Tumble window - non overlapping, fixed size window
# data is processed only once in a window
from pyflink.table.expressions import col, lit
from pyflink.table.window import Tumble
# lit - literal, useful constant data
result = invoices\
                 .select(col("InvoiceDate"), col("InvoiceNo"), col("Quantity"))\
                 .window(Tumble.over(lit(1).hour).on(col("InvoiceDate")).alias("hourly_window")) \
                 .group_by(col('hourly_window'), col('InvoiceNo')) \
                   .select(col('InvoiceNo'), col('hourly_window').end.alias('hour'), col("Quantity").sum.alias('Qty'))
 
                         
result.print_schema()
result.fetch(30).execute().print()

(
  `InvoiceNo` STRING,
  `hour` TIMESTAMP(3),
  `Qty` DOUBLE
)
+--------------------------------+-------------------------+--------------------------------+
|                      InvoiceNo |                    hour |                            Qty |
+--------------------------------+-------------------------+--------------------------------+
|                         547910 | 2011-03-28 13:00:00.000 |                          402.0 |
|                         547919 | 2011-03-28 13:00:00.000 |                           96.0 |
|                         547926 | 2011-03-28 14:00:00.000 |                          268.0 |
|                         547928 | 2011-03-28 15:00:00.000 |                            1.0 |
|                         547931 | 2011-03-28 15:00:00.000 |                            1.0 |
|                         547933 | 2011-03-28 15:00:00.000 |                            1.0 |
|                         547934 | 2011-03-28 15:00:00.000 |                          157.0 |
|                         547936 | 2011-03-28 15:00:00.000 |                           23.0 |
|                         547938 | 2011-03-28 15:00:00.000 |                          244.0 |
|                         547939 | 2011-03-28 15:00:00.000 |                           10.0 |
|                         547940 | 2011-03-28 15:00:00.000 |                          187.0 |
|                         547941 | 2011-03-28 15:00:00.000 |                          151.0 |
|                         547960 | 2011-03-28 16:00:00.000 |                           95.0 |
|                         547964 | 2011-03-28 16:00:00.000 |                          368.0 |
|                         547965 | 2011-03-28 16:00:00.000 |                           58.0 |
|                         547989 | 2011-03-29 10:00:00.000 |                         -100.0 |
|                        C547992 | 2011-03-29 10:00:00.000 |                           -4.0 |
|                         548012 | 2011-03-29 12:00:00.000 |                          118.0 |
|                        C548015 | 2011-03-29 12:00:00.000 |                          -30.0 |
|                         548016 | 2011-03-29 12:00:00.000 |                           36.0 |
|                         548095 | 2011-03-29 13:00:00.000 |                           -3.0 |
|                         548098 | 2011-03-29 13:00:00.000 |                          -15.0 |
|                         548104 | 2011-03-29 13:00:00.000 |                           -3.0 |
|                         548152 | 2011-03-29 14:00:00.000 |                          182.0 |
|                         548153 | 2011-03-29 14:00:00.000 |                          368.0 |
|                         548154 | 2011-03-29 14:00:00.000 |                          173.0 |
|                         548157 | 2011-03-29 14:00:00.000 |                          920.0 |
|                         548158 | 2011-03-29 14:00:00.000 |                           92.0 |
|                         548159 | 2011-03-29 14:00:00.000 |                           16.0 |
|                         548173 | 2011-03-29 15:00:00.000 |                           -3.0 |
+--------------------------------+-------------------------+--------------------------------+
30 rows in set

In [23]:
# what is 1 hour transactions 
# how many transactions per hour
# Tumble window - non overlapping, fixed size window
# data is processed only once in a window
from pyflink.table.expressions import col, lit
from pyflink.table.window import Tumble
# lit - literal, useful constant data
result = invoices\
                 .select(col("InvoiceDate"), col("Quantity"), (col('Quantity') * col('UnitPrice')).alias("Amount") )\
                 .window(Tumble.over(lit(1).hour).on(col("InvoiceDate")).alias("hourly_window")) \
                 .group_by(col('hourly_window')) \
                   .select(col('hourly_window').start.alias('start_time'), 
                           col('hourly_window').end.alias('end_time'), 
                           col("Quantity").sum.alias('Qty'),
                           col("Amount").sum.alias('TotalAmount'),
                          )
 
                         
result.print_schema()
result.fetch(30).execute().print()

(
  `start_time` TIMESTAMP(3),
  `end_time` TIMESTAMP(3),
  `Qty` DOUBLE,
  `TotalAmount` DOUBLE
)
+-------------------------+-------------------------+--------------------------------+--------------------------------+
|              start_time |                end_time |                            Qty |                    TotalAmount |
+-------------------------+-------------------------+--------------------------------+--------------------------------+
| 2010-12-01 08:00:00.000 | 2010-12-01 09:00:00.000 |                          602.0 |             1383.8099999999997 |
| 2010-12-01 09:00:00.000 | 2010-12-01 10:00:00.000 |                         3259.0 |              7324.239999999998 |
| 2010-12-01 10:00:00.000 | 2010-12-01 11:00:00.000 |                         2794.0 |              5094.329999999998 |
| 2010-12-01 11:00:00.000 | 2010-12-01 12:00:00.000 |                         2356.0 |             4234.1599999999935 |
| 2010-12-01 12:00:00.000 | 2010-12-01 13:00:00.000 |                         4161.0 |              7422.419999999994 |
| 2010-12-01 13:00:00.000 | 2010-12-01 14:00:00.000 |                         3240.0 |              5063.539999999996 |
| 2010-12-01 14:00:00.000 | 2010-12-01 15:00:00.000 |                         2486.0 |              8328.980000000005 |
| 2010-12-01 15:00:00.000 | 2010-12-01 16:00:00.000 |                         1876.0 |             3594.0099999999975 |
| 2010-12-01 16:00:00.000 | 2010-12-01 17:00:00.000 |                         4321.0 |              8623.140000000003 |
| 2010-12-01 17:00:00.000 | 2010-12-01 18:00:00.000 |                         1719.0 |              7566.930000000005 |
| 2010-12-02 07:00:00.000 | 2010-12-02 08:00:00.000 |                          156.0 |                          467.0 |
| 2010-12-02 08:00:00.000 | 2010-12-02 09:00:00.000 |                          365.0 |              916.9300000000005 |
| 2010-12-02 09:00:00.000 | 2010-12-02 10:00:00.000 |                          665.0 |             1300.4099999999996 |
| 2010-12-02 10:00:00.000 | 2010-12-02 11:00:00.000 |                         3669.0 |              5509.089999999997 |
| 2010-12-02 11:00:00.000 | 2010-12-02 12:00:00.000 |                         1691.0 |                        3237.45 |
| 2010-12-02 12:00:00.000 | 2010-12-02 13:00:00.000 |                         3665.0 |              4748.729999999999 |
| 2010-12-02 13:00:00.000 | 2010-12-02 14:00:00.000 |                         1128.0 |              2587.879999999997 |
| 2010-12-02 14:00:00.000 | 2010-12-02 15:00:00.000 |                        -7806.0 |             2863.4300000000017 |
| 2010-12-02 15:00:00.000 | 2010-12-02 16:00:00.000 |                         7273.0 |             13176.720000000027 |
| 2010-12-02 16:00:00.000 | 2010-12-02 17:00:00.000 |                         3037.0 |              4423.979999999999 |
| 2010-12-02 17:00:00.000 | 2010-12-02 18:00:00.000 |                         5214.0 |              3870.509999999998 |
| 2010-12-02 18:00:00.000 | 2010-12-02 19:00:00.000 |                         1787.0 |                         2564.5 |
| 2010-12-02 19:00:00.000 | 2010-12-02 20:00:00.000 |                          179.0 |              540.6499999999999 |
| 2010-12-03 09:00:00.000 | 2010-12-03 10:00:00.000 |                          831.0 |             1412.4199999999998 |
| 2010-12-03 10:00:00.000 | 2010-12-03 11:00:00.000 |                          872.0 |             1998.6499999999996 |
| 2010-12-03 11:00:00.000 | 2010-12-03 12:00:00.000 |                         4113.0 |             12905.060000000007 |
| 2010-12-03 12:00:00.000 | 2010-12-03 13:00:00.000 |                         2691.0 |              6219.369999999998 |
| 2010-12-03 13:00:00.000 | 2010-12-03 14:00:00.000 |                         1143.0 |                        3926.93 |
| 2010-12-03 14:00:00.000 | 2010-12-03 15:00:00.000 |                         3538.0 |             14548.400000000003 |
| 2010-12-03 15:00:00.000 | 2010-12-03 16:00:00.000 |                         -137.0 |             1256.7400000000007 |
+-------------------------+-------------------------+--------------------------------+--------------------------------+
30 rows in set