In [ ]:
# wget  -P $FLINK_HOME/lib https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.29/mysql-connector-java-8.0.29.jar
# wget  -P $FLINK_HOME/lib https://repo1.maven.org/maven2/org/apache/flink/flink-connector-jdbc/1.15.3/flink-connector-jdbc-1.15.3.jar

In [1]:
from pyflink.datastream import StreamExecutionEnvironment, TimeCharacteristic
from pyflink.table import StreamTableEnvironment, EnvironmentSettings
from pyflink.common.typeinfo import *
from pyflink.datastream import StreamExecutionEnvironment
from pyflink.table import StreamTableEnvironment, EnvironmentSettings

from pyflink.datastream import StreamExecutionEnvironment

from pyflink.table import (
    StreamTableEnvironment,
)

from pathlib import Path

In [2]:
env = StreamExecutionEnvironment.get_execution_environment()
env_settings = EnvironmentSettings.Builder().build()
t_env = StreamTableEnvironment.create(stream_execution_environment=env, environment_settings=env_settings)
# specify connector and format jars
# /home/krish/flink/lib/mysql-connector-java-8.0.29.jar

#t_env.get_config().get_configuration().set_string("pipeline.jars", "file:///opt/flink-1.15.3/lib/flink-connector-jdbc-1.15.3.jar;file:///opt/flink-1.15.3/lib/mysql-connector-java-8.0.29.jar")

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/opt/flink-1.15.3/lib/log4j-slf4j-impl-2.17.1.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/opt/hadoop-2.7.7/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [3]:
PRODUCT_DDL ="""
  CREATE TABLE products (
        id INT,
        name STRING,
        price INT
  )
  WITH (
'connector' = 'jdbc',
'url' = 'jdbc:mysql://localhost:3306/ecommerce?user=team&password=team1234',
'table-name' = 'products'
)
"""

In [4]:
t_env.execute_sql(PRODUCT_DDL).print()

OK

In [5]:
print(t_env.list_tables())

['products']

In [6]:
table2 = t_env.sql_query("SELECT name,price from products")
table2.print_schema()

(
  `name` STRING,
  `price` INT
)

In [7]:
table2.to_pandas()

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

       name  price
0  product1    100
1  product2    200
2  product3    300
3  product4    400

In [8]:
table2.execute().print()

+----+--------------------------------+-------------+
| op |                           name |       price |
+----+--------------------------------+-------------+
| +I |                       product1 |         100 |
| +I |                       product2 |         200 |
| +I |                       product3 |         300 |
| +I |                       product4 |         400 |
+----+--------------------------------+-------------+
4 rows in set